<!DOCTYPE html>
<!--este archivo nos permite enviar los datos para ser ingresados a la BDD-->
<form action="/add_contact" method="POST"><!--Enviaremos los datos a la ruta add contact-->
    <input type="text" name="curso" placeholder="curso">
    <input type="text" name="dia" placeholder="dia">
    <input type="time" name="hora_inicio" placeholder="hora_inicio">
    <input type="time" name="hora_final" placeholder="hora_final">
    
    <input type="text" name="profesor" placeholder="profesor">
    <input type="text" name="grupo" placeholder="grupo">
    <button type="submit">
        Save
    </button>
    

</form>
